

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//rawgit.com/ramanujasimha/css-icons/master/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//rawgit.com/ramanujasimha/css-icons/master/academicons-1.7.0/css/academicons.css"/>
  </head>

  {% include head.html %}

  <body>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for my_page in sorted_pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h3 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-2 mb-2 clearfix header-text">
          <!--<img src="rsimha.png" width="8%"/>&nbsp;&nbsp;&nbsp;&nbsp;-->
          <h1 class="h0 inline-block py-2 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-2">
            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
              <ul>
                {% if site.linkedin_username %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                      <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;

                {% if site.googlescholar_username %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="https://scholar.google.com/citations?user={{ site.googlescholar_username }}">
                      <i class="ai ai-google-scholar"></i> Google Scholar
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;

                {% if site.github_username %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="https://github.com/{{ site.github_username }}">
                      <i class="fa fa-github"></i> GitHub
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;

                {% if site.twitter_username %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="https://twitter.com/{{ site.twitter_username }}">
                      <i class="fa fa-twitter"></i> Twitter
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;

                {% if site.skype_username %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="callto:{{ site.skype_username }}">
                      <i class="fa fa-skype"></i> Skype 
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;

                {% if site.email %}
                  <li class="h4 inline-block">
                    <a class="no-underline h4 font-smoothing" href="callto:{{ site.email }}">
                      <i class="fa fa-envelope"></i> Email
                    </a>
                  </li>
                {% endif %} &nbsp;&nbsp;&nbsp;
              </ul>
              <!--<div class="h4 mt-1 font-smoothing inline-block"><i>email:</i> ramanuja <i>dot</i> simha <i>at</i> gmail <i>dot</i> com</div>
              <br />-->
              <br />
              <div class="mt-1 col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>

      <article class="container mx-auto px-2">
        <div class="prose mb-4 py-3">
          {% capture page %}{% include home.md %}{% endcapture %}
          {{ page | markdownify }}
        </div>
      </article>

    </div>

    {% include footer.html %}

  </body>

</html>
